name: Publish

on:
  push:
    branches: ["main"]

permissions:
  contents: write
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Maven settings
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p .m2
          cat > .m2/settings.xml <<EOF
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>$${GITHUB_ACTOR}</username>
                <password>$${GITHUB_TOKEN}</password>
              </server>
            </servers>
          </settings>
          EOF

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker compose -f docker/docker-compose.yml build

      - name: Generate gRPC codes
        run: |
          make gen

      - name: Publish changed services
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_ACTOR: ${{ github.actor }}
          BASE_SHA: ${{ github.event.before }}
          HEAD_SHA: ${{ github.sha }}
        run: |
          make publish-all
